<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Backup Storage">
        <setting id="zip" type="folder"    label="Choose Backup Storage Location"      default=""/>
		<setting id="mastercopy" type="bool" label="Create full duplicate backup AS WELL as a universal build" default="false"/>
        <setting type="lsep" label="[CR][CR]"/>
		<setting type="lsep" label="[COLOR=red]Universal Build:[/COLOR] Will work on any device and is trimmed down in size."/>
		<setting type="lsep" label="[CR][COLOR=blue]Full duplicate backup:[/COLOR] Will only work on your existing device."/>
		<setting type="lsep" label="[CR][CR]"/>
	</category>
    
	<category label="Show/Hide Content">
		<setting id="mainmenu" type="bool" label="Devils Origin Builds" default="true"/>
		<setting id="maintenance" type="bool" label="Maintenance Section" default="true"/>
		<setting id="guisettings" type="bool" label="GUI Settings" default="false"/>
		<setting id="adultbuilds" type="bool" label="Adult Builds" default="false"/>
	</category>
    
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="default-view" type="number" label="Default View" default="500" enable="!eq(-1,false)"/>
	</category> 

</settings>