<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Results">
        <setting id="low_return" type="select" label="Lowest Quality (p)" values="None|360|480|720|1080" default="None" />
        <setting id="high_return" type="select" label="Highest Quality (p)" values="None|360|480|720|1080" default="1080" />
        <setting id="autoplay" type="bool" label="Auto Play" default="false" />
    </category>	
	<category label="Reliable Hosts">
        <setting id="vidzi" type="bool" label="Vidzi" default="true" />
        <setting id="thevideo" type="bool" label="Thevideo" default="true" />
        <setting id="gvid" type="bool" label="Gvideo" default="true" />
        <setting id="direct" type="bool" label="Direct" default="true" />
    </category>	
</settings>